/**
 * Novo SGA - Atendimento
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */

body>section {
    padding: 20px 10px;
}

#atendimento .top {
    max-width: 1600px;
    margin: 0 auto 1rem auto;
}

#atendimento #local {
    margin: 0 auto 1rem auto;
    max-width: 260px;
    color: #000;
    padding: .5rem 1rem;
    background-color: #F8CA00;
    position: relative;
}

#atendimento #local .local {
    font-size: 16px;
    text-transform: uppercase;
}

#atendimento #local .numero {
    font-size: 5rem;
    line-height: 1;
    font-weight: bold;
}

#atendimento #local .tipo-atendimento {
    font-size: .9rem;
    font-weight: bold;
}

#atendimento #local .tipo-atendimento span {
    padding: .1rem .5rem;
    border-radius: var(--bs-card-border-radius);
    background-color: rgba(255, 255, 255, .3);
}

#atendimento #local .user {
    font-size: .8rem;
}

#atendimento #local .user span {
    display: block;
}

#atendimento #local .user .name {
    font-weight: bold;
}

#atendimento #local .user .username {
    opacity: .7;
}

#atendimento #local .tipo-atendimento.tipo-normal { color: blue; }
#atendimento #local .tipo-atendimento.tipo-prioridade { color: red; }
#atendimento #local .tipo-atendimento.tipo-agendamento { color: darkorange; }

#atendimento #local a {
    color: #000;
    padding: .3rem .7rem;
    position: absolute;
    right: 5px;
    top: 5px;

}

#atendimento #local a:hover {
    color: #000;
    border-radius: var(--bs-card-border-radius);
    background-color: rgba(0, 0, 0, .1);
}

.attendance-panel {
    max-width: 1200px;
    margin: 0 auto;
}

.attendance-panel .controls .col {
    margin-bottom: 1rem;
}

.attendance-panel .controls .btn {
    padding: 1rem 0;
}

.attendance-panel .controls .btn:disabled {
    opacity: .3;
}

.attendance-panel .ticket-info .ticket {
    color: #000;
    font-size: 2rem;
    font-weight: 900;
    margin-right: 1rem;
}

.attendance-panel .ticket-info .service {
    color: #000;
}

.attendance-panel .list-group {
    max-height: 410px;
    overflow-y: auto;
}

.attendance-panel .list-group a {
    width: 100%;
    display: block;
    text-decoration: none;
}

.attendance-panel .list-group a:hover {
    text-decoration: underline;
}

.attendance-panel .list-group.servicos-realizados li {
    background-color: rgb(128 191 128 / 22%);
}

#atendimento .bottom h6 {
    font-weight: bold;
}

/* fila */

#atendimento .fila {
    clear: both;
}

#atendimento .fila .card-header {
    font-size: 14px;
}

#atendimento .fila .card-body {
    padding-top: 0 !important;
}

#atendimento .fila ul {
    padding: 0;
    margin: 0;
}

#atendimento .fila ul li {
    list-style: none;
}

#atendimento .fila.horizontal ul li {
    display: inline;
    padding: 12px 6px 0 6px;
    display: inline-block;
}

#atendimento .fila.vertical ul li {
    padding: 12px 6px 0 6px;
}

#atendimento .fila ul li .proximo {
    font-size: 20px;
}

#atendimento .fila ul li .prioridade {
    font-weight: bold;
}

#atendimento .fila ul li.empty {
    color: #999;
    font-style: italic;
    padding-top: 15px;
}

#dialog-busca .modal-dialog {
    max-width: 90%;
}

#dialog-busca .result {
    overflow: auto;
}
